header {
    background-color: #0b6929;
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin-left: 20px;
  }
  
  nav {
    display: flex;
    gap: 1.5rem;
    margin-right: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  